body{
	background-color: #E2E2D8;
	padding: 50px;
	font-family:serif;
}
h1{
	font-style: italic;
	text-align: center;
	border-style: double;
}
h2{

}
h3{
	padding-left:50px;
}
img{
	float: left;
}
a:hover{color: #1F1C62;}